In [7]:
# exploration_01: For looking into and testing the dataset

In [11]:
import pandas as pd
import os

In [16]:
data_dir = 'data'
data = pd.read_csv(os.path.join(data_dir, 'data_initial.csv'), sep=';')

In [17]:
data.head()

,date,invoiceId,customer,mileage,vin,manufacturer,type,dateOfFirstRegistration,itemId,description,account,split,amount,priceSum
0,2012-08-01,1087,464,150556,SJNBAAP11U0328425,Nissan 9648,Primera 323,1999-09-29,11111,TÜV Gebühr (durchlaufender Posten),8500 Sonstiege Erlöse,Forderungen,-1,"-61,00"
1,2012-08-01,1088,464,150556,SJNBAAP11U0328425,Nissan 9648,Primera 323,1999-09-29,33333,AU 2 Jahre,8300 Erlöse Dinstleisung,Forderungen,-1,"-36,94"
2,2012-08-01,1088,464,150556,SJNBAAP11U0328425,Nissan 9648,Primera 323,1999-09-29,11109,Bereitstellungsgebühr,8300 Erlöse Dinstleisung,Forderungen,-1,"-5,95"
3,2012-08-01,1088,464,150556,SJNBAAP11U0328425,Nissan 9648,Primera 323,1999-09-29,Bl.Gelb,Glühlampe 12V / 21W Gelb,8400 Erlöse Handelswaren,Forderungen,-2,"-7,74"
4,2012-08-01,1089,372,35998,VF7JMHFXC97468123,Citroen 3001,C2 ABS,2007-06-28,11111,TÜV Gebühr (durchlaufender Posten),8500 Sonstiege Erlöse,Forderungen,-1,"-61,00"